*.zip
*.pdf
*.html
.idea/
__pycache__
*.bak
*_SAVE.*
*_SAVE/
*_ORIGINAL.*
*_ORIG.*
*_TEMP.*
_archive
tools/CertificateTool/devcerts/*
tools/CertificateTool/subca/*
tools/CertificateTool/rootca/*
tools/CertificateTool/CertBuilds
temp/*
*.key
*.crt
*.pem